
<h1 class="title is-4">Articles</h1>

<ul>
  <% @countries.each do |country| %>
    <li>
      <a href="/countries/<%= country.id %>">
        <%= country.name %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Country", new_country_path %>


